* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    line-height: 27px;
    font-family:'Roboto';
     
}
.header-bottom {

    background-color: #f47629 ;
}
.nav-item:hover a {
    color: #000!important;
}
.container-fluid:hover .vie{
    color: #000!important;
}
/* main .wapper_main {
    display:flex;
    flex-wrap: wrap;
} */
  

main .main {
    flex: 1;
    
    padding: 20px;

}
main .sidebar {
    flex-basis: 30%;
    padding: 20px;
}

.card-body {
    padding-left: 5px;
}
ol .breadcrumb li a {
 text-decoration:none!important;
}
footer {
    display: flex!important;
    
}
footer .container div {
    color: rgb(154, 169, 179);
}
footer ul li a {
    text-decoration: none!important;
    color: rgb(154, 169, 179);
}
a {
    text-decoration: none!important;
}
footer ul li a:hover {
    color: #f47629;
}
.copyright {
    /* clear: both; */
    color: #888;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    background: #161616;
    /* border: 1 solid rgb(154, 169, 179); */
}
aside .container .form-control {
    border: 10px solid #f47629;
}
aside .container .Form_action {
    border: 10px solid #f47629;
    border: #161616;
}
aside .container .Form_action button {
    background: #161616;
    width: 100%;
    color: aliceblue;
    height: 60px;
    border: 10px solid #f47629;
    border-bottom:20px solid #f47629;
}
footer h3 {
    font-size: 18px;
    text-transform: uppercase;
}
footer .wap-footer ul li {
    list-style-type: none;
}
.container .wap-footer {
    border-bottom: #888 solid 1px;
}
ol.breadcrumb {
    padding-left: 50px;
}
.chaupp {
    display: inline-block;
    border: 1px solid #c8c5c5;
    padding: 3px 7px;
}
@media only screen and (max-width: 768px){
    nav .liee {
        position: relative;
       
    }
    div .collapse {
        position: absolute;
        margin-top: 43px;
        margin-left: -7px;
    }
    .header-bottom {
        height: 100px;
        
    }
    
}
@media only screen and (max-width: 426px){
    nav .liee {
        
       position: static;
    }
    div .collapse {
        position: static;
        
    }
    nav {
        position: -webkit-sticky;
    }
    .header-bottom {
        height: auto;

}
ul .dropdown-menu
    {
        background-color: #f47629 ;
        border: 0;
    }
    ul .dropdown-menu li a {
        color: #000;
    }
    ul .dropdown-menu li a.heee {
        border-top: 0;
    }
}